name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: denolib/setup-deno@master
        with:
          deno-version: 1.3.1

      - run: deno --version
      - run: deno fmt --check
      - run: deno test -A

      - name: Benchmarks
        run: deno run --allow-net ./benchmarks/app.ts
