name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: denolib/setup-deno@master
      - run: |
          deno --version
          deno fmt --check */**
          deno test -c tsconfig.json --allow-net --allow-read --allow-env --allow-write test.ts
